{
  "openapi": "3.1.0",
  "info": {
    "title": "Imobzi — API interna do app (my.imobzi.com/v1)",
    "version": "0.1.0-discovered",
    "description": "Spec discovered from a browser-trace capture by the browser-to-api skill. Inductive, not contractual — see `report.md` and `x-confidence` extensions for caveats."
  },
  "servers": [
    {
      "url": "https://my.imobzi.com"
    }
  ],
  "paths": {
    "/v1/invoices": {
      "get": {
        "summary": "GET /v1/invoices",
        "operationId": "get_v1_invoices",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payments_methods_available",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lease_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smart_list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                },
                "example": {
                  "invoices": [
                    {
                      "total_value": 28000,
                      "invoice_id": "e9da5146708611f1866b42004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5289976873353216,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "27",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 5422485204369408,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Porto Alegre",
                        "state": "RS",
                        "code": "46",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 0,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5944529889263616,
                            "name": "<redacted>"
                          },
                          {
                            "db_id": 6526974162370560,
                            "name": "<redacted>"
                          },
                          {
                            "db_id": 5795429730484224,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "49"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 1125,
                      "invoice_id": "2e5118a2747711f1834542004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 10/06/2026 a 09/07/2026",
                      "charge_fee_value": 0,
                      "payment_method": "transference",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": null,
                        "pix": null,
                        "credit_card": "<redacted>",
                        "payment_default": "transference"
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 6736532980367360,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "12",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 5053777611587584,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "12",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 995420401,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 5253871883517952
                      },
                      "bank_slip_id": null,
                      "bank_slip_url": null,
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "51"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 1012.5,
                        "predicted_onlendings": [
                          {
                            "landlord_transaction_id": "",
                            "landlord_account_id": null,
                            "description": null,
                            "group_id": null,
                            "contact_key": "<redacted>",
                            "guaranteed_rental": null,
                            "guaranteed_rental_is_paid": null,
                            "paid_at": null,
                            "repeat_frequency": null,
                            "repeat_type": null,
                            "repeat_total": null,
                            "transaction_type": "onlending",
                            "value": 1012.5,
                            "invoice_id": null,
                            "created_at": null,
                            "invoice_onlending_split": null,
                            "account_debit": null,
                            "pix_key": null,
                            "pix_key_type": null,
                            "account_credit": {
                              "name": "<redacted>"
                            },
                            "category": null,
                            "subcategory": null,
                            "status": null,
                            "nota_fiscal_key": null,
                            "financial_transaction_id": null,
                            "lease_item_index": null,
                            "lease_item_description": null,
                            "lease": {
                              "code": "51",
                              "db_id": 5992887244816384
                            },
                            "transaction_paid": null,
                            "transaction_operation_id": null,
                            "custom_json": {},
                            "contact": {
                              "db_id": 5880332491423744,
                              "type": "organization",
                              "name": "<redacted>",
                              "profile_image_url": null
                            },
                            "beneficiary_parent_ids": []
                          }
                        ],
                        "management_fee_value": 112.5,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 1371,
                      "invoice_id": "29481126747711f1ac1742004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 4509391404400640,
                        "type": "person",
                        "name": "<redacted>",
                        "code": "31",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": "<redacted>",
                        "cnpj": null,
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 5065229873446912,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "19",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 995390083,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "19"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 1828.13,
                      "invoice_id": "24479a2a747711f1834542004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5161198057160704,
                        "type": "person",
                        "name": "<redacted>",
                        "code": "35",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": "<redacted>",
                        "cnpj": null,
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 6515407058894848,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "22",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 976220010,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "24"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 2019.45,
                      "invoice_id": "212f9d06747711f1a16742004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5500381061709824,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "5",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 4866829261471744,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "São José do Rio Preto",
                        "state": "SP",
                        "code": "21",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 946230080,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "8"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 2047,
                      "invoice_id": "30589c60747711f1a19342004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 4615600820191232,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "4",
                        "email": [
                          "<redacted>",
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 6274458923827200,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "13",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 956310333,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "6"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 2103.82,
                      "invoice_id": "1c67cd66747711f1820242004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 6074678520053760,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "6",
                        "email": [
                          "<redacted>",
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 5706853225857024,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "3",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 995340286,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "9"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 3147.68,
                      "invoice_id": "2bfa5c1c747711f1920442004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 0,
                      "payment_method": "transference",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": null,
                        "pix": null,
                        "credit_card": "<redacted>",
                        "payment_default": "transference"
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5958681855262720,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "3",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 4513626753859584,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "10",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 979810146,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 5253871883517952
                      },
                      "bank_slip_id": null,
                      "bank_slip_url": null,
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "5"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 4653.55,
                      "invoice_id": "27f6d956747711f1886542004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 10/06/2026 a 09/07/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5423946422812672,
                        "type": "person",
                        "name": "<redacted>",
                        "code": "51",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": "<redacted>",
                        "cnpj": null,
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 4694837304492032,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "São Paulo",
                        "state": "SP",
                        "code": "41",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 0,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5862668037521408,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "38"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 4213.12,
                        "predicted_onlendings": [
                          {
                            "landlord_transaction_id": "",
                            "landlord_account_id": null,
                            "description": null,
                            "group_id": null,
                            "contact_key": "<redacted>",
                            "guaranteed_rental": null,
                            "guaranteed_rental_is_paid": null,
                            "paid_at": null,
                            "repeat_frequency": null,
                            "repeat_type": null,
                            "repeat_total": null,
                            "transaction_type": "onlending",
                            "value": 4213.12,
                            "invoice_id": null,
                            "created_at": null,
                            "invoice_onlending_split": null,
                            "account_debit": null,
                            "pix_key": null,
                            "pix_key_type": null,
                            "account_credit": {
                              "name": "<redacted>"
                            },
                            "category": null,
                            "subcategory": null,
                            "status": null,
                            "nota_fiscal_key": null,
                            "financial_transaction_id": null,
                            "lease_item_index": null,
                            "lease_item_description": null,
                            "lease": {
                              "code": "38",
                              "db_id": 5844181749596160
                            },
                            "transaction_paid": null,
                            "transaction_operation_id": null,
                            "custom_json": {},
                            "contact": {
                              "db_id": 5862668037521408,
                              "type": "person",
                              "name": "<redacted>",
                              "profile_image_url": null
                            },
                            "beneficiary_parent_ids": []
                          }
                        ],
                        "management_fee_value": 440.43,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 6500,
                      "invoice_id": "1fcceeaa747711f1a08842004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 0,
                      "payment_method": "transference",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": null,
                        "pix": null,
                        "credit_card": "<redacted>",
                        "payment_default": "transference"
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 4922017661321216,
                        "type": "person",
                        "name": "<redacted>",
                        "code": "55",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": null,
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 4644181344518144,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Sales",
                        "state": "SP",
                        "code": "39",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 976140656,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 5253871883517952
                      },
                      "bank_slip_id": null,
                      "bank_slip_url": null,
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "46"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 13194.31,
                      "invoice_id": "1ed33f36747711f1834542004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 1224.49,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 6540046816509952,
                        "type": "person",
                        "name": "<redacted>",
                        "code": "21",
                        "email": [
                          "<redacted>",
                          "<redacted>"
                        ],
                        "cpf": "<redacted>",
                        "cnpj": null,
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 5107612610723840,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Ribeirão Preto",
                        "state": "SP",
                        "code": "23",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 993420577,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "12"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 21491.98,
                      "invoice_id": "1d55d132747711f18df442004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5361489134223360,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "10",
                        "email": [
                          "<redacted>",
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": []
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 4564688915398656,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Ribeirão Preto",
                        "state": "SP",
                        "code": "24",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 979840014,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "17"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 1500,
                      "invoice_id": "b66ead24753c11f18be342004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 a 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          },
                          "bank_slip_id": "<redacted>",
                          "bank_slip_url": "<redacted>",
                          "bank_slip_protocol": null,
                          "barcode": "<redacted>",
                          "id_impression": null
                        },
                        "pix": {
                          "receipt_type": "pix",
                          "account": {
                            "name": "<redacted>",
                            "db_id": 6029003447074816
                          },
                          "integration_name": "pjbank",
                          "logo_url": "https://storage.googleapis.com/imobzi/image/pj-bank.svg",
                          "bank_integration": {
                            "name": "<redacted>",
                            "active": true,
                            "transference_fee": 2,
                            "transference_split": 1.5,
                            "account_type": "digital_account",
                            "show_trading_name": true,
                            "categories": {
                              "bank_fee": {
                                "name": "<redacted>",
                                "subcategory": "Tarifa Bancária",
                                "category_type": "expense",
                                "db_id": "<redacted>",
                                "created_at": "2023-03-17T13:48:09.021376Z",
                                "updated_at": "2026-03-27T17:23:32.732224Z"
                              }
                            },
                            "has_resources": {
                              "bank_slip": true,
                              "payment_ted": true,
                              "payment_pix": true,
                              "pix": true,
                              "bar_code": true,
                              "extract_financial": true,
                              "bank_slip_pix": true
                            },
                            "get_conciliations": true,
                            "selected_for_payments": true,
                            "split_receipt_account": false
                          }
                        },
                        "credit_card": "<redacted>",
                        "payment_default": null
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 5171873485160448,
                        "type": "person",
                        "name": "<redacted>",
                        "code": "63",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": "<redacted>",
                        "cnpj": null,
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 4945494104080384,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Catanduva",
                        "state": "SP",
                        "code": "1",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 946270008,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 6029003447074816
                      },
                      "bank_slip_id": "<redacted>",
                      "bank_slip_url": "<redacted>",
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "52"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 7400,
                      "invoice_id": "290b9e66779811f1bf2e42004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 14/06/2026 a 13/07/2026",
                      "charge_fee_value": 0,
                      "payment_method": "transference",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": null,
                        "pix": null,
                        "credit_card": "<redacted>",
                        "payment_default": "transference"
                      },
                      "payment_maximum_installments": null,
                      "interest_value": 0,
                      "difference_value": 0,
                      "invoice_url": "<redacted>",
                      "contact": {
                        "db_id": 6211296897794048,
                        "type": "organization",
                        "name": "<redacted>",
                        "code": "23",
                        "email": [
                          "<redacted>"
                        ],
                        "cpf": null,
                        "cnpj": "<redacted>",
                        "phone": [
                          "<redacted>"
                        ]
                      },
                      "info_contract": null,
                      "property": {
                        "db_id": 6343983916646400,
                        "address": "<redacted>",
                        "address_complement": "<redacted>",
                        "neighborhood": "<redacted>",
                        "city": "Cosmorama",
                        "state": "SP",
                        "code": "43",
                        "zipcode": "<redacted>",
                        "cover_photo": {
                          "db_id": 0,
                          "url": "<redacted>"
                        },
                        "owners": [
                          {
                            "db_id": 5880332491423744,
                            "name": "<redacted>"
                          }
                        ]
                      },
                      "account": {
                        "name": "<redacted>",
                        "db_id": 5253871883517952
                      },
                      "bank_slip_id": null,
                      "bank_slip_url": null,
                      "onlending_split": false,
                      "category": "Terceiros (Administração)",
                      "subcategory": "Recebimento de Aluguel",
                      "reference_start_at": "<redacted>",
                      "reference_end_at": "<redacted>",
                      "lease": {
                        "contract_type": "lease",
                        "code": "37"
                      },
                      "onlendings_and_fees": {
                        "onlendings": [],
                        "onlending_value": 0,
                        "predicted_onlending_value": 0,
                        "predicted_onlendings": [],
                        "management_fee_value": 0,
                        "first_management_fee_value": 0,
                        "managed_expenses_value": 0,
                        "charge_landlord": 0
                      }
                    },
                    {
                      "total_value": 450.76,
                      "invoice_id": "820ee33e807a11f1b29b42004e494300",
                      "status": "paid",
                      "due_date": "<redacted>",
                      "description": "Aluguel ref. 01/06/2026 até 30/06/2026",
                      "charge_fee_value": 3.96,
                      "payment_method": "bank_slip",
                      "paid_at": "<redacted>",
                      "payments_methods_available": {
                        "bank_slip": {
                          "receipt_type": "bank_slip",
                          "account": {
                            "name": "<redacted>",
[...]
